body {
    /* Old browsers */
    background: #141E30;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(-45deg, #35577D, #141E30);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(-45deg, #35577D, #141E30);
    color: white;
    margin: auto;
    padding: 30px;
    font-size: 18px;
}

h1 {
    font-size: 40px;
    text-transform: uppercase;
    padding-top: 100px;
}

.description {
    font-style: italic;
    display: block;
    color: black;
    font-weight: 300;
    font-size: 22px;
    line-height: 24px;
    padding-bottom: 30px;
    width: 70%;
    top: 20%;
    left: 20%;
    position: relative;
}

a {
    color: black;
}

.main-list li {
    text-transform: uppercase;
}

.byline {
    font-family: Helvetica;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    padding-right: 10px;
    float: right;
    text-transform: uppercase;
}

.image-writer {
    -webkit-box-shadow: 5px 0px 5px 0px rgba(0, 0, 50, 0.97);
    -moz-box-shadow: 5px 0px 5px 0px rgba(0, 0, 50, 0.97);
    box-shadow: 5px 0px 5px 0px rgba(0, 0, 50, 0.97);
    float: right;
    width: 70px;
}

h2 {
    text-align: left;
}

.image {
    background-image: url("https://images.pexels.com/photos/1830447/pexels-photo-1830447.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;
    background-position: center;
    height: 300px;
    opacity: 0.8;
}